.Nav {
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 5vh;
    padding: 10px 15px;

    a {
        text-decoration: none;
        color: white;
    }

    &__ReturnHome {
        padding: 2px 30px;
    }
}

@media only screen and (max-width: 600px) {
    .Nav {
        justify-content: space-between;

        &__Logo {
            h1 {
                margin: 10px 0px;
            }
        }
    }
}
